body {
    width: 100%;
    background-color: white;
}
.seperate {
    display: block;
    width: 400px;
    height: 40px;
    margin: 200px auto;
    padding: 10px;
    background-color: white;
}


#button1 {
    background-color: red;
}
#button2 {
    background-color: green;
}
#button3 {
    background-color: blue;
}
#button4 {
    background-color: yellow;
}
#button5 {
    background-color: black;
    color: white;
}
#button6 {
    background-color: pink;
}
#button7 {
    background-color: rosybrown;
}